background {
  top: 0;
  left: 0;
  right: 0;
  background: url(Assets/website-background-blank-small.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: black;*/
}
